.main-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;


  .app-main-search {
    display: inherit;
    justify-content: inherit;
  }

  .ueberschrift {
    display: flex;
    justify-content: center;
  }

  .main-button {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
}
