<a href="https://www.youtube.com/playlist?list=PLC9bp-OHi-Wn7KN7Rx5bcM62IZXQ4bgxf">PrimeNG Getting Started</a>
<br>
<span class="p-float-label">
  <input id="in_text" pInputText [(ngModel)]="text">
  <label for="in_text">Text hier</label>
</span>
<br>
<button type="button" pButton label="PrimeNG" (click)="upper()"></button>
<br>
<p>{{text}}</p>

<div class="detail">
  <h2 class="titel">Erstelle einen neuen Journal Eintrag</h2>
  <form [formGroup]="formGroup">
    <div class="p-fluid p-formgrid p-grid header">
      <span class="p-float-label">
        <input id="in_titel" pInputText>
        <label for="in_titel">Titel</label>
      </span>
      <div class="beschreibung">
      <span class="p-float-label">
        <textarea id="in_descr" pInputTextarea [rows]="4"></textarea>
        <label for="in_descr">Beschreibung</label>
      </span>
      </div>

      <div class="applicationChoice">

        <p-calendar [showIcon]="true" class="p-datepicker-current-day" formControlName="datum"></p-calendar>
        <p-dropdown [options]="applications" formControlName="selectedApplication" optionLabel="name"
                    optionValue="value"></p-dropdown>
      </div>
    </div>
  </form>
</div>

<style>
  .container {
    overflow: auto;
  }

  .sidebyside {
    float: left;
    width: 100px;
    height: 100px;
    border-style: solid;
    margin: 5px;
  }

  .belowdiv {
    width: 300px;
    height: 100px;
    border-style: solid;
    margin: 5px;
  }

  .leftBox {
    float: left;
    width: 74%;
    height: 100px;
    border-style: solid;
    margin: 5px;
  }

  .rightBox {
    float: right;
    width: 24%;
    height: 100px;
    border-style: solid;
    margin: 5px;
  }
</style>

<div class="container">
  <div class="sidebyside">div0</div>
  <div class="sidebyside">div1</div>
  <div class="sidebyside">div2</div>
  <div class="sidebyside">div3</div>
  <div class="sidebyside">div4</div>
</div>
<div class="belowdiv">div5</div>
<div class="belowdiv">div6</div>
<div class="belowdiv">div7</div>
<div class="belowdiv">div8</div>
<div class="belowdiv">div9</div>


<div class="container">
  <div class="leftBox">leftDiv</div>
  <div class="rightBox">rightDiv</div>
</div>
