<div class="px-4 py-8 md:px6 lg:prx8">
  <div class="flex align-items-center mb-4">
    <a (click)="changeTheme('saga-blue')" class="mr3 cursor-pointer">
      <img src="assets/images/saga-blue.png"/>
    </a>
    <a (click)="changeTheme('bootstrap4-light-blue')" class="mr3 cursor-pointer">
      <img src="assets/images/bootstrap4-light-blue.svg" width="50" height="50"/>
    </a>
    <a (click)="changeTheme('bootstrap4-dark-blue')" class="mr3 cursor-pointer">
      <img src="assets/images/bootstrap4-dark-blue.svg" width="50" height="50"/>
    </a>
    <a (click)="changeTheme('mdc-dark-indigo')" class="mr3 cursor-pointer">
      <img src="assets/images/md-dark-indigo.png" width="50" height="50"/>
    </a>
    <a (click)="changeTheme('lara-light-teal')" class="mr3 cursor-pointer">
      <img src="assets/images/lara-light-teal.png" width="50" height="50"/>
    </a>
    <a (click)="changeTheme('lara-dark-teal')" class="mr3 cursor-pointer">
      <img src="assets/images/lara-dark-teal.png" width="50" height="50"/>
    </a>

  </div>
</div>
