<div class="search-container">
  <i class="pi pi-search" style="padding-right: 5px;"></i>
  <div id="autocomplete-span" class="p-fluid">
    <p-autoComplete
      styleClass="search-style"
      inputStyleClass="search-input-style"
      panelStyleClass="search-panel-style"
      [(ngModel)]="selectedResult" [suggestions]="results"
      (completeMethod)="search({event : $event})"
      (onSelect)="onSelect($event)"
      (onKeyUp)="onKeyUp($event)"
      field="name"
      [showClear]="true"
      placeholder="Suche">
      <ng-template let-selectedResult pTemplate="item">
        <div class="card">
          <div class="flex card-container blue-container overflow-hidden">
            <i class="pi pi-search" style="padding-right: 5px;"></i>
            <div style="font-size:18px;float:left">{{selectedResult.titel}}</div>
          </div>
        </div>
      </ng-template>
    </p-autoComplete>
  </div>
  <div class="card j-settings">
    <i class="pi pi-align-justify" (click)="settings()"></i>
  </div>
</div>
