
.search-container {

  display: flex;
  width: 540px;
  align-items: center;
  justify-content: space-between;
  margin: 0 0.5rem 0 0.5rem;
  padding: 0.5rem;
  border-radius: 3.5rem;
  border: 0.1em solid var(--surface-500);

  #autocomplete-span {
    width: 100%;
    border: none;
    box-shadow: none;
  }

  // ist der style für die Anzeige der such
  .search-panel-style{
    border-radius: 1.5rem;
    width: 100%;
  }

  .search-style {
    // nothing to to do
  }

  .search-input-style {
    border:0 none;
    background-color: inherit;
  }

  .search-input-style:focus {
    border:none;
    box-shadow: none;
  }
}

.search-container:hover {
  //background-color: #F1F0F0;
  background-color: var(--surface-50);
}
.search-container:hover .search-input-style{
  background-color: inherit;
  transition: none;
}
