<div>
  <div class="grid">
    <div class="col-12">
      <div class="grid">
        <div class="col-6">
          <div class="card">
            <div class="field">
              <p-breadcrumb [model]="speicherort" [home]="home" (onItemClick)="clickedSpeicherOrt($event)"></p-breadcrumb>
            </div>
          </div>
        </div>
        <div class="col-6">
          <p></p>
          <p-dropdown [options]="applications" [(ngModel)]="selectedApplication" optionLabel="name"
                      placeholder="Waehle eine Applikation">
          </p-dropdown>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="field">
      <p-editor [(ngModel)]="text" [style]="{'height':'320px'}"></p-editor>
    </div>
    <div class=col-2>
      <div class="grid">
        <div class="col-4">

        </div>
      </div>
    </div>
  </div>
  <p>To Be Deleted: Value: {{text}}</p>
  <br/>
  <button (click)="main()" label="Abbrechen" pButton type="button"></button>
  <button (click)="main()" label="Sichern" pButton type="button"></button>
</div>
